<h1 align="center"><b>Listing all articles</b></h1>
  <% @articles.each do |articles| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="articles-title">
          <%= link_to articles.title, article_path(articles) %></td> 
        </div>
        <div class="article-body">
          <%= truncate(articles.description, length: 100) %>
          <div class="article-meta-details"
            <small>Created By: <%= articles.user.username if articles.user %>,
                   <%= time_ago_in_words(articles.created_at) %> ago,
                   last updated: <%= time_ago_in_words(articles.updated_at) %> ago </small>
          </div>
        </div>
        <div class_"article-actions">        
          <%= link_to "Edit this article", edit_article_path(articles), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this article", article_path(articles), method: :delete,
                                       data: {confirm:"Are you shure?"},
                                       class: "btn btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %> 
